.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	z-index: 9999;
}

.Navbar .links {
	padding: 20px;
    width: 400px;
    height: 46px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}

.Navbar .links li {
	list-style: none;
}

.Navbar .links li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .Navbar {
        margin-top: 0px;
    }

    .Navbar .links {
        width: 80vw;
    }
}